<div class ="row">
  <div class="col-sm-3">
    <div>

    </div>
     {{#each lists as |list|}}
          <div class="panel panel-default">


            <div class="panel-body" style="background-color:lightgreen"> {{ list.name }}</div>
            <div class = 'todo{{if list.completed 'completed'}}'>
              <span><button class="panel-footer"{{action 'deleteList' list}}> X </button></span>
              <span>{{input type = 'checkbox' checked=list.completed }}</span>
              <span><button {{action 'save' list}}> save </button></span>
            </div>

          </div>

      {{/each}}

  </div>
     <div class="col-sm-3">
     <div>
       <p>Fill the box below and press enter to make a todo</p>
     </div>
     <div>
      {{input enter="addlist" size=50}}
     </div>
   </div>
</div>







